<li class="ud-pd-md dashed comment" id="comment-<%= comment.id %>">
  <!--<div class="ud-pd-md dashed comment">-->
  <div class="blue ud-pd-sm">
    <%= link_to image_tag("normal_icon.jpeg", :size => "60x60",:class => "img-thumbnail")%>
    <span class="right-pd-sm px16 user">
      <%= link_to comment.user.name, comment.user %> 点评了
      <%=link_to comment.course do%>
        <%if comment.course.teachers.first%>
          <%= comment.course.title%><%=(comment.course.teachers.first.name)%>
        <%else%>
          <%=comment.course.title%>(暂无老师)
        <%end%>
      <%end%>
    </span>
    
    <% for star in 0..4 %>
      <% if comment.ratescore >= 1.5 + star * 2 %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <% elsif comment.ratescore >= 0.5 + star * 2 %>
      <span class="glyphicon glyphicon-star-half" aria-hidden="true"></span>
      <% else %>
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      <% end %>
    <% end %>
    <span class="left-pd-md"><%=comment.term%> </span>
  </div>
    
  <div>
    <%= comment.content.html_safe %>
  </div>
  <div class="bm-pd-md grey" id="comment-attitudes-<%=comment.id%>">
    <span class="small"><%=comment.created_at %></span>
    <span id= "approve-form-<%=comment.id%>"><%= render partial: "comments/approve_form", locals: { comment: comment } %></span>
    
    <span id="comment-upvote-count-<%= comment.id %>"><%=comment.attitude_to_comments.count%></span>
    <a class="nounderline" href="javascript: show_review_comments({{ review.id }})">
      <span class="glyphicon glyphicon-comment grey left-pd-md" aria-hidden="true"></span>
      <span id="comment-comment-count-<%= comment.id%>"><%=comment.comment_count%></span>
    </a>
    <span class="pull-right">
      <% if current_user?(comment.user) %>
        <%= link_to new_comment_path(:course_id=>comment.course.id,:user_id=>current_user.id) do%>
          <span class="glyphicon glyphicon-pencil grey left-pd-sm small" aria-hidden="true" > </span>
        <%end%>
      <%end%>
      <%if current_user != nil%>
        <% if !@disable_delete && ((current_user && current_user.admin?) || (current_user?(comment.user))) %>
          <%= link_to comment_path(comment, :page=>@curpage), method: :delete, data: {confirm: "确定删除吗?"} do %>
            <span class="glyphicon glyphicon-trash">删除</span>
          <% end %>
        <% end %>
      <%end%>
    </span>
  </div>
</li>