<% provide(:title, "发表评论-#{@curcourse.title}") %>
<h3><%= "发表评论：#{@curcourse.teacher} #{@curcourse.title}" %></h3>

<%= form_for(@comment) do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>
  
  <div class="field">
    <div class="ud-pd-sm">
      <span class="right-pd-sm weight-heavy">课程难度</span>
      <div class="btn-group btn-group-inv" data-toggle="buttons">
        <label class="btn btn-default">
            <%= f.radio_button(:difficulty, "1") %>
            简单
        </label>
        <label class="btn btn-default">
            <%= f.radio_button(:difficulty, "2") %>
            中等
        </label>
        <label class="btn btn-default">
            <%= f.radio_button(:difficulty, "3") %>
            困难
        </label>
      </div>
    </div>        
        <div class="ud-pd-sm">
          <span class="right-pd-sm weight-heavy">作业多少</span>
          <div class="btn-group btn-group-inv" data-toggle="buttons">

            <label class="btn btn-default">
                <%= f.radio_button(:homework, "1") %>
                不多
            </label>

            <label class="btn btn-default">
                <%= f.radio_button(:homework, "2") %>
                中等
            </label>

            <label class="btn btn-default">
                <%= f.radio_button(:homework, "3") %>
                超多
            </label>

          </div>
        </div>    
        <div class="ud-pd-sm">
          <span class="right-pd-sm weight-heavy">给分好坏</span>
          <div class="btn-group btn-group-inv" data-toggle="buttons">

            <label class="btn btn-default">
                <%= f.radio_button(:grading, "1") %>
                超好
            </label>

            <label class="btn btn-default">
                <%= f.radio_button(:grading, "2") %>
                一般
            </label>

            <label class="btn btn-default">
                <%= f.radio_button(:grading, "3") %>
                杀手
            </label>

          </div>
        </div>   
        <div class="ud-pd-sm">
          <span class="right-pd-sm weight-heavy">收获多少</span>
          <div class="btn-group btn-group-inv" data-toggle="buttons">

            <label class="btn btn-default">
                <%= f.radio_button(:gain, "1") %>
                很多
            </label>

            <label class="btn btn-default">
                <%= f.radio_button(:gain, "2") %>
                一般
            </label>

            <label class="btn btn-default">
                <%= f.radio_button(:gain, "3") %>
                没有
            </label>

          </div>
        </div>
    
    <div class="ud-pd-sm">
      <span class="right-pd-sm weight-heavy">评个分吧？</span>
      <%= f.select :ratescore  do %>
        <% [['下拉请选择评分，默认为0分', 0], ['1分', 1], ['2分', 2], ['3分', 3], ['4分', 4], ['5分', 5], ['6分', 6], ['7分', 7], ['8分', 8], ['9分', 9], ['10分', 10]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>
    <div class="ud-pd-sm">
      <%= f.text_area :content %>
    </div>
    <%= hidden_field_tag(:course_id, @curcourse.id) %>
  </div>
  <%= f.submit "发表", class: "btn btn-primary" %>
<% end %>
<script type="text/javascript">
    var editor = new Simditor({
          textarea: $('#comment_content'),
    });
</script>