<% provide(:title, "个人信息") %>
<div class="row">
  <aside class="col-md-3">
      <%= link_to image_tag("normal_icon.jpeg", :size => "180x180",:class => "img-responsive img-thumbnail center-block")%>
      <h2><%= @user.name %></h2>
      <% if current_user?(@user) || (current_user && current_user.admin?) %>
        <h2><%= @user.email %></h2>
      <% end %>
      <div id="follow_form_container"><%= render 'follow_form' if logged_in? %></div>
      <ul>
        <li><%= link_to "点评（#{@user.comments.count}）", user_path(:opt=>0) %></li>
        <% if current_user?(@user) || (current_user && current_user.admin?) %>
          <li>
            关注
            <ul>
              <li><%= link_to "用户（#{@user.followings.count}）", user_path(:opt=>1) %></li>
              <li><%= link_to "课程（#{@user.courses.count}）", user_path(:opt=>3) %></li>
              <li><%= link_to "关注我的（#{@user.followers.count}）", user_path(:opt=>2) %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </ul>
  </aside>
  <div class="col-md-9">
    <%= render @pageOpt %>
  </div>
</div>

