<div id="course-<%= course.id %>" class="ud-pd-md dashed">
  <%=link_to course do%>
      <% if course.teachers.first and course.teachers.first.name != ''%>
          <span><%= course.code%> - <%= course.title%>(<%= course.teachers.map{|t| t.name}.join(',') %>)</span>
      <% else %>
          <span><%= course.code%> - <%= course.title%></span>
      <% end %>
  <% end %>
  <% if (current_user && current_user.admin?) %>
    | <%= link_to "删除", course, method: :delete, data: { confirm: "确定删除吗?课程下的评论也会一起删除" } %>
  <% end %>
</div>