<% unless !logged_in? %>
  <div id="interest_form">
  <% if current_user.interesting?(@course) %>
    <%= form_for(current_user.interest_courses.find_by(course_id: @course.id),html: { method: :delete }, remote: true) do |f| %>
      <%= f.submit "取消关注", class: "btn" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.interest_courses.build, remote: true) do |f| %>
      <div><%= hidden_field_tag :course_id, @course.id %></div>
      <%= f.submit "关注", class: "btn btn-primary" %>
    <% end %>
  <% end %>
  </div>
<% end %>