<%if logged_in?%>
    <% if current_user.attitudes.find_by(course_id: @course.id) and current_user.attitudes.find_by(course_id: @course.id).has_learn %>
      <%= form_tag({action: :unlearn, controller: :attitudes}, remote: true) do %>
        <div><%= hidden_field_tag :course_id, @course.id %></div>
        <%= button_tag(type: "submit", class: "btn btn-blue btn-flat btn-follow btn-undo") do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 没学过 <small>(<%=@course.attitudes_colcount('has_learn')%>)</small>       
        <%end%>
      <% end %>
    <% else %>
      <%= form_tag({action: :learn, controller: :attitudes}, remote: true) do %>
        <div><%= hidden_field_tag :course_id, @course.id %></div>
        <%= button_tag(type: "submit", class: "btn btn-blue btn-flat btn-follow btn-do") do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 学过 <small>(<%=@course.attitudes_colcount('has_learn')%>)</small>
        <%end%>
      <% end %>
    <% end %>
<%else%>
  <%= form_tag({action: :learn, controller: :attitudes}, remote: true) do %>
    <div><%= hidden_field_tag :course_id, @course.id %></div>
    <%= button_tag(type: "submit", class: "btn btn-blue btn-flat btn-follow btn-do") do %>
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span> 学过 <small>(<%=@course.attitudes_colcount('has_learn')%>)</small>
    <%end%>
  <% end %>
<%end%>
