<% provide(:title, @course.title) %>

  <div class="row float-element">
      <!-- 左边栏 -->
      <div class="col-md-9 inline-h3">
        <span class="blue h3"><%= @course.title %></span>
        <span class="h5 blue mobile"><%= @course.code %></span>
        <% if current_user %>
          <%=link_to "编辑课程信息", editcourse_course_path(:course_id => @course.id)%>
        <% end %>
        <div><span class="h5"><%= @course.title_en %></span></div>
        
        <%= render 'courses/show_subview/course_detail' %>

        <div id="action-btn-group" class="ud-pd-md" >
          <div id="follow_form_container" style="display: inline-block">
            <%=render 'follow_form'%>
          </div>
          <div id="recom_form_container" style="display: inline-block">
            <%=render 'recom_form'%>
          </div>
          <div id="disrecom_form_container" style="display: inline-block">
            <%=render 'disrecom_form'%>
          </div>
          <div id="learn_form_container" style="display: inline-block">
            <%=render 'learn_form'%>
          </div>
        </div>

      	<div class="solid ud-pd-md">
          <span class="blue h3">点评</span>
          <% if logged_in? %>
            <%= link_to new_comment_path(:course_id=>@course.id,:user_id=>current_user.id), 
                        class: "btn btn-white float-right blue", type:"button"  do%>
              <span class="glyphicon glyphicon-pencil glyphicon-sm right-pd-sm" aria-hidden="true" ></span>写点评
            <%end%>
          <% else %>
            <%= link_to new_comment_path(:course_id=>@course.id), 
                        class: "btn btn-white float-right blue", type:"button"  do%>
              <span class="glyphicon glyphicon-pencil glyphicon-sm right-pd-sm" aria-hidden="true">写点评</span>
            <%end%>
          <% end %>
        </div>
        <%if @ccomments.count == 0 %>
          <div class="tips">
            <p>还没有评论耶！放着我来！</p>
          </div>
        <% else %>
          <%= render @ccomments %>
          <%= will_paginate @ccomments %>
        <%end%>
      </div>
      <!-- 右边栏 -->
      <div class="col-md-3">
        <%= render "courses/show_subview/right" %>
      </div>
  </div>


