<%if @ccomments.count > 0%>
  <div class="ud-pd-sm blue">
    <% for star in 0..4 %>
      <% if @course.rate.average_rate >= 1 + star %>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
      <% elsif @course.rate.average_rate >= 0.5 + star  %>
        <span class="glyphicon glyphicon-star-half glyphicon-lg" aria-hidden="true"></span>
      <% else %>
        <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
      <% end%>
    <% end%>
    <span class="rl-pd-sm h4"><%= format("%0.1f", @course.rate.average_rate) %></span><span class="rl-pd-sm text-muted">(<%=@ccomments.count%>人评价)</span>
  </div>
<% else %>
  <div class="ud-pd-sm blue">
  <% for star in 0..4 %>
    <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
  <% end %>
  <span class="rl-pd-sm h4"><span class="text-muted px12">(暂无评价)</span>
  </div>
<% end%>

<ul class="text-muted list-inline list-unstyled ud-pd-sm">
  <li class="right-mg-md">课程难度：
  <%if @course.rate%>
    <%if @course.rate.difficulty == '1'%>
      <%='简单'%>
    <%elsif @course.rate.difficulty == '2'%>
      <%='中等'%>
    <%elsif @course.rate.difficulty == '3'%>
      <%='困难'%>
    <%else%>  
      <%='你猜'%>
    <%end%>
  <%end%>
  </li>
  <li class="right-mg-md">作业多少：
  <%if @course.rate%>
    <%if @course.rate.homework == '1'%>
      <%='不多'%>
    <%elsif @course.rate.homework == '2'%>
      <%='中等'%>
    <%elsif @course.rate.homework == '3'%>
      <%='超多'%>
    <%else%>  
      <%='你猜'%>
    <%end%>
  <%end%>
  </li>
  <li class="right-mg-md">给分好坏：
  <%if @course.rate%>
    <%if @course.rate.grading == '1'%>
      <%='超好'%>
    <%elsif @course.rate.grading == '2'%>
      <%='一般'%>
    <%elsif @course.rate.grading == '3'%>
      <%='杀手'%>
    <%else%>  
      <%='你猜'%>
    <%end%>
  <%end%>
  </li>
  <li class="right-mg-md">收获大小：
  <%if @course.rate%>
    <%if @course.rate.gain == '1'%>
      <%='很多'%>
    <%elsif @course.rate.gain == '2'%>
      <%='一般'%>
    <%elsif @course.rate.gain == '3'%>
      <%='没有'%>
    <%else%>  
      <%='你猜'%>
    <%end%>
  <%end%>
  </li>
</ul>

<table class="table table-condensed no-border">
  <tr>
    <td><strong>学科类别：</strong><%=@course.subject or '未知'%></td>
    <td><strong>开课单位：</strong><%=@course.dept or '未知'%></td>
  </tr>
  <tr>
    <td><strong>课程层次：</strong><%=@course.course_major or '未知'%></td>
    <td><strong>课时/学分：</strong><%=@course.period_credit or '未知'%></td>
  </tr>
  <tr>
    <td>
      <% if !@course.homepage.blank? %>
      <strong>课程主页：</strong>
      <a href=<%="http://"+@course.homepage %>>课程主页</a>
      <% else %>
      <strong>课程主页：</strong>暂无（如果你知道，劳烦告诉我们！）
      <% end %>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <% if !@course.introduction.blank? %>
      <strong>课程简介：</strong><%= @course.introduction%>
      <% else %>
      <strong>课程简介：</strong>暂无
      <% end %>
    </td>
    <td></td>
  </tr>
</table>