<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "评课社区", comments_path, id: "logo"%>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "点评",   comments_path %></li>
        <li><%= link_to "课程",   courses_path %></li>
        <% if logged_in? && current_user.admin %>
          <li><%= link_to "用户",   users_path %></li>
        <% end %>
      </ul>
      <%= form_tag("/search", method:"get", class: "navbar-form navbar-left") do%>
        <div class="form-group">
          <%= text_field_tag :q, params[:q], :class=>"form-control", :placeholder=>"搜索课程、老师" %>
        </div>
        <%= button_tag  type: "submit", class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-search grey"></span>
        <% end %>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li>
          <%= link_to '/notify' do %>
            <span class="glyphicon glyphicon-bell"></span>
            <span class="badge" style="background: #d7353d;"><%= session[:notify_count]==0?"":session[:notify_count] %></span>
          <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.name %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "个人中心", current_user %></li>
            <li><%= link_to "设置", update_path(current_user) %></li>
            <li><%= link_to "退出", logout_path, method: "delete" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "登陆",   login_path %></li>
        <li><%= link_to "注册",   new_user_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</header>